<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="edu.rice.cs.hpc.traceviewer.data.timeline.ProcessTimelineService">
         <variable
               name="edu.rice.cs.hpc.traceviewer.services.ProcessTimelineService.data"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>

</plugin>
